@charset "utf-8";
body{
	font-family: STHeiti, Microsoft Yahei, "Helvetica Neue", Helvetica, Arial, sans-serif, MingLiu;
}
iframe{
	width: 100%;
	height: 850px;
	border: 0;
}
/*----------头部*/
.head{
	padding: 0;
	position: fixed;
	height: 100px;
	width: 100%;
	/*background-color:  RGBA(205, 66, 108, 0.75);*/
	background: url(../img/b.jpg);
	/*opacity: 0.9;*/
	z-index: 5;
	border: 1px solid #CD426C;	
}
/*----------------头部左边的位置logo*/
.leftArea{
	margin-top:5px;
	margin-left: 50px;
	float:left;
	width:415px;
}
.leftArea .logo{
	margin-top:10px;
	}
.leftArea .logo .bottom{
	margin-top:3px;
	height:60px; 
	position:absolute; 
	left:100px; 
	z-index:998;
	}
.leftArea .logo .top{
	 position:absolute;
	 z-index:999;
	}
/*----------------头部右边的登录注销等*/
.rightArea{
	float:right;
	width:30%;
}
.rightArea .login_Register{
	position:absolute;
	right:50px;
	top:35px
	}
.rightArea .login_Register a{
	font-size:14px;
	font-weight: bold;
	padding-left:5px;
	text-decoration:none;
	color: white;
	}
.rightArea .login_Register a:hover{
	text-shadow: 1px 1px 5px  antiquewhite;
	}

/*-----------------------主体部分*/
.contentManage{
	position: absolute;
	top: 101px;
	width: 100%;
}
/*-------------左边固定导航栏*/
.nav{
	position: fixed;
	z-index: 1;
	/*background-color: RGBA(205, 66, 108, 0.75);*/
	background: url(../img/b.jpg);
	width:13%;
	height: 99.9%;
	text-align: center;
	color: #666666;
	font-size: 14px;
}
.nav ul li div{
	padding: 8px;
	font-size: 16px;
	color: whitesmoke;
	background-color:  #CD426C;
	border-bottom: 1px solid  #CD426C;
}
.nav ul li div:hover{	
	background-color: #E41688;
	color: white;	
}
.nav ul li ul li{
	padding: 10px;
	font-size: 15px;
	border-bottom: 1px solid #CD426C;
	background-color: papayawhip;
	/*opacity: 0.5;*/
}
.nav ul li ul li:hover{
	background-color: palegoldenrod;	
}
.nav ul li ul li:hover a{
	color: white;
}
/*--------------右边内容*/
.manage_cont{
	float: right;
	width: 86.9%;
	height: 100%;
}
/*--------------------------------------------------------------商品管理*/
.manage{
	/*border: 1px solid #000;*/
	box-shadow: 1px 1px 10px #666666;
	margin-bottom: 10px;
	width: 100%;
	height: 500px;
	font-size: 14px;
	color: #656565;
}
